<header>
  <div class="container">
    <nav id="main-navbar">
      <span class="logo">
        <a href="#"><i class="fas fa-heartbeat fa-2x"></i></a>
      </span>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- <footer>
  <div class="container">
    <div>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#"><i class="fas fa-envelope fa-2x"></i></a>
        </li>
      </ul>
    </div>
    <div>Copyright &copy;. All Rights Reserved</div>
  </div>
</footer> -->
